*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.myAppBase{
  min-height: 100vh;
  min-height: 100vh;
  background-image: url("./Media//Background2.jpg");
  /* background-image: url("https://img.freepik.com/premium-photo/couple-stands-hill-with-hearts-background_993259-6794.jpg?semt=ais_hybrid"); */
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(5px); */
  /* animation: App-logo-spin infinite 20s ease-in-out; */
}

.selector{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  position: fixed;
  top: 0;
}

button{
  border: none;
  padding: 0.4rem;
  margin: 0 1rem;
  border-radius: 5px;
  background: purple;
  color: white;
}

button:hover{
  background: orange;
}





@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
